<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.platypii.avyalert"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Push Notification -->
    <permission
        android:name="com.platypii.avyalert.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
	<uses-permission android:name="com.platypii.avyalert.permission.C2D_MESSAGE" /> 
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- In-App Billing -->
	<uses-permission android:name="com.android.vending.BILLING" />
	
	<application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@+style/Theme.Holo"
        android:allowBackup="true" >

		<activity
			android:name=".MainActivity"
			android:label="@string/app_name" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name="com.platypii.avyalert.InfoActivity"
			android:label="@string/app_name" >
			<meta-data
			    android:name="android.support.PARENT_ACTIVITY"
			    android:value="com.platypii.avyalert.MainActivity" />
		</activity>

		<activity
			android:name="com.platypii.avyalert.RoseInfoActivity"
			android:label="@string/app_name" >
			<meta-data
			    android:name="android.support.PARENT_ACTIVITY"
			    android:value="com.platypii.avyalert.MainActivity" />
		</activity>

		<activity
			android:name="com.platypii.avyalert.SettingsActivity"
			android:label="AvyAlert: Settings" >
			<meta-data
			    android:name="android.support.PARENT_ACTIVITY"
			    android:value="com.platypii.avyalert.MainActivity" />
		</activity>

		<activity
			android:name="com.platypii.avyalert.billing.BillingActivity"
			android:label="AvyAlert: Settings" >
			<meta-data
			    android:name="android.support.PARENT_ACTIVITY"
			    android:value="com.platypii.avyalert.SettingsActivity" />
		</activity>
		
		<!-- Push Notification -->
		<receiver
		    android:name="com.google.android.gcm.GCMBroadcastReceiver"
		    android:permission="com.google.android.c2dm.permission.SEND" >
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<category android:name="com.platypii.avyalert" />
			</intent-filter>
		</receiver>
		<service android:name=".GCMIntentService" />

		<!-- In-App Billing -->
		<receiver android:name=".billing.BillingReceiver">
			<intent-filter>
				<action android:name="com.android.vending.billing.IN_APP_NOTIFY" />
				<action android:name="com.android.vending.billing.RESPONSE_CODE" />
				<action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
			</intent-filter>
		</receiver>
		<service android:name=".billing.BillingService" />
		
	</application>

</manifest>